* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Anton', sans-serif;
  background-image: url('pikachu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}