* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Anton', sans-serif;
  background-image: url('doraemon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------- Start Screen ------- */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.start-container {
  width: 30%;
  height: 20rem;
  background-color: #f5bede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
border-radius: 9px;
box-shadow: 10px 10px 21px 7px hsl(0, 0%, 0%, 0.1);
padding: 1rem;
}

.start-container h1 {
  font-size: 3rem;
  margin-bottom: 1.6rem;
  color: #267aaa;
}

.btn {
  padding: 0.8rem 1rem;
  font-size: 1.6rem;
  font-family: 'Anton', sans-serif;
  border: none;
  border-radius: 11px;
  background-color: #267aaa;
  color: #f5bede;
}

a:link, a:active {
  text-decoration: none;
  color: #f5bede;
}

a:hover, a:visited {
  color: #f5bede;
}


/* -------------- Game Screen --------------------- */

#quiz-game {
  display: none;
  background-color: #E19720 ;
  max-width: 60rem;
  border-radius: 11px;
  padding: 1.4rem;
  box-shadow: 12px 12px 15px 9px hsl(0, 0%, 0%, 0.1);
}

.heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1.8rem;
}

#game-progress {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.8rem;
  

}

.numbers {
display: flex;
justify-content: center;
align-items: center;
width: 3.8rem;
height: 3.8rem;
border: 3px solid #000000;
border-radius: 50%;
font-size: 1.6rem;
background-color: #811E09;
font-weight: bold;

}

hr {
  border: 2px solid #811E09 ;
}

#quiz-questions {
  padding: 0 1.2rem 0 1.2rem;
  margin: 1rem 0 1rem 0;
}

#question-text {
  display: flex;
  align-items: center;
  height: 6.25rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

.opt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem; 
  margin: 2rem 0 3rem 0;
}

.button {
  background-color: rgb(253, 239, 165) ;
  width: 22.5rem;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Anton', sans-serif;
  border: none;
  border-radius: 9px;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(250, 214, 29);
}

#btn-next {
font-family: 'Anton', sans-serif;
position: relative;
float: right;
background-color: #811E09;
color: #fdefa5;
font-size: 1.2rem;
padding: 1rem 1rem 1rem 1rem;
border-radius: 15px;
border: 2px solid #000000;
cursor: pointer;
}

#result-box {
display: none;
/* will be visible via JS when the game is over  */
text-align: center;
}


.positioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#result {
  font-size: 2rem;
}

#save-score {
font-size: 1.4rem;
background-color: #F62D14;
padding: 0.7rem 1rem 0.7rem 1rem;
border-radius: 9px;
border: 2px solid #000000;
font-family: 'Anton', sans-serif;
box-shadow: 5px 5px 0 0 black;
transition: all 2s;
text-transform: uppercase;
}

#save-score:hover {
  background-color: #000000;
  color: #F62D14;
  box-shadow: 5px 5px 0 0 #F62D14;
  cursor: pointer;
}

#home-btn {
  font-size: 1.4rem;
  background-color: #000000;
  color: #F62D14;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 9px;
  border: 2px solid #000000;
  font-family: 'Anton', sans-serif;
  box-shadow: 5px 5px 0 0 #F62D14;
  transition: all 2s;
  margin-left: 1.2rem;
  text-transform: uppercase;
  }

  #home-btn:hover {
  background-color: #F62D14;
  color: #000000;
  box-shadow: 5px 5px 0 0 black;
  cursor: pointer;
  }

footer {
  margin-top: 3rem;
  font-size: 1.4rem;
}
#number-question {
  margin-bottom: 0.5rem;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


#player-name {
  font-size: 1.8rem;
  color: #000000;
}

#name-input {
  font-size: 1.4rem;
  font-family: 'Anton', sans-serif;
  background-color:#000000;
  color:#F62D14;
  text-align: center;
  border-radius: 9px;
  border: none;
  padding: 0.5rem;
}

/* Responsive design */

/* @media all and (max-width: 107em) {
  #quiz-game {
    width: 60%;
  }
} */

@media all and (max-width: 73em) {
  #quiz-game {
    max-width: 50rem;
  }
  .heading {
    font-size: 3rem;
  }

  #game-progress {
    margin-bottom: 0.5rem;
  }

  .numbers {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.2rem;
    }

    #question-text {
      height: 5.25rem;
      font-size: 1.6rem;
      margin: 0;
    }

    .opt {
      margin: 1.4rem 0 2.6rem 0;
    }

    .button {
      width: 15rem;
      font-size: 1rem;
    }

    #btn-next {
      font-size: 1rem;
      padding: 0.8rem;
      border-radius: 11px;
      }

      #number-question {
        font-size: 1.2rem;
      }

      /* Result box */
      .positioning {
        margin-top: 1rem;
      }

      #result {
        font-size: 1.6rem;
      }

      #name-input {
        padding: 0.3rem;
      }

      #player-name {
        font-size: 1.4rem;
      }
}

@media all and (max-width: 52em) {
  #quiz-game {
    max-width: 44rem;
  }

  .heading {
    font-size: 2.4rem;
  }

  .numbers {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: normal;
    }

    #question-text {
      height: 5rem;
      font-size: 1.2rem;
    }

    .button {
      width: 11rem;
      font-size: 0.9rem;
    }

    #btn-next {
      font-size: 0.8rem;
      padding: 0.6rem;
      }

      #number-question {
        font-size: 1rem;
      } 

       /* Result box */

        #result {
        font-size: 1.2rem;
      }

      #name-input {
        padding: 0.1rem;
        font-size: 1.2rem;
      }

      #player-name {
        font-size: 1.2rem;
      }

      #save-score, #home-btn {
        font-size: 1rem;
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
        } 
} 

@media all and (max-width: 33em) {
  .start-container {
    max-width: 30rem;
    height: 16rem;
  }

  .start-container h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
  }
} 

@media all and (max-width: 30em) {
  .opt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .numbers {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.8rem;
    font-weight: normal;
    }
}